---
  import RightArrow from '@icons/RightArrow.astro';
  interface Props {
    name: string;
    specialist: string;
    comment: string;
    image: string;
    href: string;
  }

  const { name, specialist, comment, image, href } = Astro.props;
---

<a href={href}>
  <article class="relative w-[300px]  h-[450px] border-2 border-red-500 rounded-md shadow-slate-700 shadow-md overflow-hidden hover:scale-105 transition duration-300 cursor-pointer">
    <picture class="w-full h-full">
        <source srcset=`/images/${image}.avif` type="image/avif">
        <img loading="lazy" src=`/images/${image}.webp` alt="image" class="w-full h-full object-cover rounded-md" />
      </picture>

    <div class="absolute inset-0 flex items-center justify-center bg-gradient-to-b backdrop-blur-md from-red-900 to-red-900 opacity-90" style={"clip-path: ellipse(96% 47% at 16% 97%);"}>
    </div>

    <div class="z-20 absolute bottom-0 left-0 right-0 flex flex-col items-start justify-start gap-2 p-4 text-white">
      <h3 class="text-white text-left text-3xl">
      {name}
    </h3>
    <strong class="text-white  text-sm">
      {specialist}
    </strong>
    <p class="text-white text-left text-base">
      {comment}
    </p>
  
  </article>
</a>



</article>