---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Seo from '@components/Seo.astro'
import type { Preload } from '../types/Preload'

export const prerender = false;

interface Props {
  title: string
  description: string
  preload?: Array<Preload>
  canonical?: string
  image?: string
}

const { title, description, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <Seo
      canonical={canonical}
      description={description}
      image={image}
      preload={preload}
      title={title}
    />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Chonburi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Chonburi-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/OpenSans.woff2) format('woff2');
  }
  html {
    font-family: OpenSans;
    color: '#1e293b';
  }

  h1,
  h2,
  h3 {
    font-family: Chonburi;
    color: #7e0303;
    text-wrap: balance;
  }

  h1 {
    font-size: clamp(2rem, 2.5vw, 3rem);
    /* font-size: 32px; */
    line-height: 40px;
  }

  h2 {
    font-size: clamp(1.8rem, 1.8vw, 2.5rem);
    /* font-size: 24px; */
    line-height: 32px;
  }

  h3 {
    font-size: clamp(1.5rem, 1.4vw, 2rem);
    /* font-size: 20px; */
    line-height: 28px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    text-wrap: pretty;
  }

  @media (min-width: 768px) {
    p {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .animate-picture {
    animation: reveal linear both;
    animation-timeline: view();
  }

  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 100px;
      scale: 0.7;
    }
    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
